extends ./layouts/default
block variables
    - var title = "ioioPen";

block styles
    link(rel="stylesheet" href="css/ioio.css")

block scripts
    script(src='js/app/ioio.app.js')

block content

    article.readme
        include:marked ../../README.md

    article.license
        include:marked ../../LICENSE.md
