extends ./layouts/default
block variables
    - var title = "favPattern: Tamios Favorite UX Patterns";

block styles
    link(rel="stylesheet" href="css/ioio.css")

block content

    article.index
        include:marked ../../INDEX.md

    article.readme
        include:marked ../../README.md

    article.license
        include:marked ../../LICENSE.md
