extends ./layouts/default
block variables
    - var title = "View: Reward";

block meta
    meta(name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=2")

block styles
    link(rel="stylesheet" href="css/reward-view.css")

block content

    .reward
        ul.symbols
            -for(var i=0; i<20; i++)
                li
        .the-gift
            h1 Premium access granted!
            small 30 days for free
