doctype html
block variables
html
    head
        title IOIO - Favorite Pattern - #{title}
        script(src='js/vendor/jquery.min.js')
        link(rel="stylesheet" href="css/default.css")
        block styles
        block scripts
        block meta

    body
        block content
            p (tbd)
